@use '../variables';

.infos-bar {
    padding: 28px 42px;
    background-color: variables.$textColor;
    display: flex;
    justify-content: space-between;
    border-radius: 56px 10px 56px 10px;
    
    

    &__infos {
        display: flex;
        gap: 60px;

        &__item {
            font-size: 14px;
            color: variables.$secondaryTextColor;

            b {
                color: variables.$secondaryTextColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}